@model ReviewViewModel
@using IdentityAppCourse2022.ViewModels
@using Microsoft.AspNetCore.Identity

<form asp-controller="Product" asp-action="AddText" method="post">
<input name = "Id" value="@Model.Id" hidden/>
<div class="text-center">
    <h1 class="display-4">@Model.Provider</h1>
</div>
<!-- Left Column / Headphones Image --></pre>
<div class="left-column"><img src="~/Uploads/@Model.ExistingImage" alt="" data-image="black" /> <img src="images/blue.png" alt="" data-image="blue" /> <img class="active" src="images/red.png" alt="" data-image="red" /></div>
<pre> 

  <!-- Right Column --></pre>
<div class="right-column">
    <!-- Product Description -->
    <div class="product-description">
            @Model.CategorySelected
        <h1>@Model.Name</h1>
            @Model.Description
        </div>
    <div class="product-price">@Model.Price $ <a class="cart-btn" href="#">Add to cart</a></div>
</div>
<pre>
<div class="col-8">
<textarea name="Text" class="form-control" autocomplete="off" rows="10" cols="5"></textarea>
<span class="text-danger"></span>
</div>
    <div class="col-6 text-right">
<input type="submit"/>
</div>
<div>
            @foreach (var review in Model.reviewList)
            {
                    <div class="col-8">@review.Text</div>
            }

</div>
</form>